
</br>
<h1 id="bluetext">River Shoe Run</h1>
<h4>June 19</h4></br>


<h3> Race day map</h3>


 <h3>Information about race day</h3>
 <p>
   <b>Check in Time:</b> Check in starts at 7:30 and closes at 7:55. Following check-in, at 8am, the racers will line up to begin the race. </br>
   <b>During the race:</b> Meter markers and water stations will be set up at every 2.5 meter. Please take advantage of the water supply.</br>
   <b>Staff:</b> Officials will be stationed a every kilometer in case of an emergency<br>
   <b>Rules:</b> First rule is to have fun and enjoy running for a good cause! Any foul play or violence will result in being pull out of the race!</br>
 </p>

 <h3>Location</h3>
 <p>467 River run Blvd. </br> North Charleston SC</p>

 <h3>Team Members</h3>
 <div id= "team members">
     <%teamlist = User.select {|x| x.team == @user.team}=%>
     <table>
        <%teamlist.each do |m| %>
        <tr>
            <td><%=m.name%></td>
        </tr>
        <% end %>
     </table>
 </div>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        
      <h1>
          <table>
              <tr>
                <td><%= @user.team%> &nbsp</td>
                <td><%= @user.name%> &nbsp</td>
                <td><%= @user.age%> &nbsp</td>
                <td><%= @user.phone%> &nbsp</td>
            </tr>
        </table>
      </h1>
    </section>
  </aside
</div>

